<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ottomanyenikod.Properties.Settings.ottomankodbulConnectionString"
            connectionString="Data Source=OcstrLogo;Initial Catalog=ottomankodbul;User ID=sa;Password=Logo123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>